*{
    padding:0;
    margin:0;
}
nav ul {
    background-color: #272727;
    padding: 10px
}
nav ul li {
    display: inline;
    color: lightgrey;
    overflow: scroll;
}

nav u li:hover{
    background-color: #929292
}
h2{
    font-size: 1.5em;
    margin: 10px;

}
.carousel{
    width: 100%;
    height: 150px;
    background-color: #929292
}

span{
    font-size: 1em;
}
#fellows h2{
    text-align: center;
}


.elfe{
    text-align: center;
    margin: 0 auto;
}
.elfe article{
    display: flex;
    flex-direction:row;  
    margin: 0 auto;
    width: 80%;
    height: 200px;
    padding-bottom:15px;
    text-align:center;
    align-self: center
}
.elfe img{
    margin: 0 auto;
}
form input, form textarea{
    width:50%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    
}



    @media (max-width: 961px){
        .elfe article{
                display: none;

        }
        .carousel{
            display: none;
        }
        h2 {
            font-size: 2em;
            margin-top: 60px;
            margin-bottom: 60px;
            text-align: center;
        }
        form h2{
            margin-bottom:10px;
            
        }



    }